*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*General*/
.pagina {
    background-color: #2b2d2c;/*Fondo principal semi nardo grey*/
    color: #D2C2AB; /*Texto principal*/
    font-family: "Barlow Condensed", sans-serif; 
}

/* guia colores:
#2B2D2C: PRIMARIO FONDO
#D2C2AB: SECUNDARIO TEXTO
#C49A6C: ENLACES
*/


/*Enlaces*/
.enlace-nav {
    color: #C49A6C;
}

/*Textos*/
.titulo-primario {
    font-size: 48px;
    font-weight: 700;
}

.titulo-secundario {
    font-size: 32px;
    font-weight: 600;
}

.texto {
    font-size: 18px;
    font-weight: 400;
}

/*Navegacion*/
/*list-style borra el formato lista*/
.lista-nav {
    list-style: none;
    font-size: 32px; 
    font-weight: bold; 
}

.navegacion a {
    text-decoration: none;
    color: #c49a6c;
}

img {
    max-width: 100%;
}

header, footer {
    color: #C49A6C;
    background-color: #121312;
    background-image: url("../img/pruebacadenas.png");
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
}

.navegacion, .lista-nav{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.hero{
    background-color: #49443ea8;
    margin-bottom: 20px;
}

.hero h2 {
    color: #fdfdfd;
    font-size: 26px;
    font-weight: 540;
}

.hero a {
    color: #fdfdfd;
    background-color: #c49a6c;
    border: 2px solid #49443ea8;
}

.tarjeta {
    background-color: #634d36;
    padding: 20px;
}

.tarjeta h2 {
    font-size: 32px;
    font-weight: 600;
}

.tarjeta p {
    font-size: 18px;
    font-weight: 400;
}

main {
    padding: 20px;
}

/*Preparado pre entrega 4*/

/*clase 4*/

.galeria {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
}

.galeria img {
    width: 100%;
}

.inicio-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "imagen"
        "titulo"
        "texto";
gap: 1rem;
}
.inicio-imagen {
    grid-area: imagen;
}
.inicio-titulo {
    grid-area: titulo;
}
.inicio-texto {
    grid-area: texto;
}
footer .lista-nav {
    flex-direction: row;
}
.N-lista {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
}
.T-nosotros {
    width: fit-content;
    max-width: 50rem;
}
.T-nosotros h2 {
    text-align: center;
}
.T-nosotros figure {
    text-align: center;
}

form {
    width: 100%;
    margin-top: 1rem;
}
fieldset {
    padding: 1rem;
}
label {
    display: block;
    width: 100%;
    padding: 0.5rem;
}
input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
iframe {
    width: 100%;
    margin-top: 1rem;
}

@media (min-width: 1024px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    .lista-nav {
        flex-direction: row;
    }
    .galeria {
        grid-template-columns: 1fr 1fr;
    }
    .inicio-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "imagen titulo"
            "imagen texto";
    }
    .G-servicios {
        grid-template-columns: 1fr 1fr 1fr;
    }
}